@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 50.6%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { background-image: url('https://via.placeholder.com/1349x435/999999');}

header .wrapper { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
  width: 100%;
  border-right: 10px solid #135eab;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #135eab), to(transparent));
  background-image: -o-linear-gradient(left, #135eab 30%, transparent);
  background-image: linear-gradient(to right, #135eab 30%, transparent);
}

header .logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52%;
  margin: 0 auto;
  padding: 29px 0 29px 0.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

header form { 
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .form-group { width: 79%;}

header .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 7px 5% 6px;
  border: 1px solid #56b8ed;
  color: #9f9a95;
  font-size: 12px;
  outline: none;
}

header .form-control { width: 20%;}

header .go {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 7px 0 6px;
  border: 1px solid #269fe3;
  background-color: #269fe3;
  color: #e6e6e6;
  text-align: center;
  font-size: 12px;
  outline: none;
}

header form span { display: none;}

nav {
  margin: 14px 0;
  background-color: #269ee39f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'lato',sans-serif;
  font-weight: 200;
}

nav form { display: none;}

nav ul { 
  width: 51%;
  margin: 0 auto;
  padding-left: 0.8%;
}

nav li {
  padding: 4px 1.5% 7px;  
  text-align: center;
  opacity: 0.8;
}

nav .active { background-color: #2babf5;}

nav a {
  color: #ffffff;
  font-size: 11.8px;
  text-transform: capitalize;
}

.hambuger {
  display: none;
  text-indent: -9999px;
}

.hambuger::after {
  content: '\f0c9';
  float: left;
  color: #ffffff;
  font-family: 'fontAwesome';
  font-size: 22px;
  text-indent: 0;
}

.welcome { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
  width: 51%;
  margin: 0 auto;
  padding: 71px 0 48px 0.4%;
  font-family: 'dosis',sans-serif;
  font-weight: 300;
}

.welcome h2 {
  color: #ffffff;
  font-size: 31px;
}

.welcome h3 {
  width: 50%;
  margin: 8px 0;
  color: #56b8ed;
  font-size: 26px;
}

.welcome span {
  display: block;
  color: #56b8ed;
  font-size: 17px;
  font-weight: 400;
}

.welcome a {
  padding: 6px 4.3%;
  margin-top: 17px;
  background-color: #269fe3;
  color: #e6e6e6;
  font-family: 'lato',sans-serif;
  font-size: 12px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* conferences section start */

.conferences { 
  margin: 18px 0;
  font-family: 'dosis', sans-serif;
}

.conferences .wrapper > span {
  font-family: 'lato', sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.conferences span a { 
  margin: 1%;
  color: #000000;
}

.conferences span a:first-child { margin-left: 0;}

.conferences h4 {
  margin: 12px 0 25px;
  color: #4a8fca;
  font-size: 25px;
  text-transform: capitalize;
}

.conferences ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conferences li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 31.8%;
  max-width: 31.8%;
  margin: 11px 2.2% 0 0;
}

.conferences h5 {
  margin: 10px 0 2px;
  color: #4a8fca;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

.conferences li:nth-child(3),
.conferences li:nth-child(6) { margin-right: 0;}

.conferences li > span,
.modal div span {
  color: #8a8b8b;
  font-family: 'lato',sans-serif;
  font-size: 11.5px;
  font-weight: 600;
  text-transform: capitalize;
}

.modal {
  width: 100%;
  min-height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000be;
  text-align: center;
}

.modal .close { 
  display: block;
  text-indent: -9999px;
}

.modal .close::after {
  content: '\f00d';
  position: absolute;
  top: 30px;
  right: 30%;
  color: #ffffff;
  font-family: 'fontAwesome';
  font-size: 30px;
  text-indent: 0;
}

.modal div {
  width: 30%;
  padding-bottom: 15px;
  margin: 80px auto;
  background-color: #ffffff;
}

/* conferences section end */

/* become section start */

.become .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.become .wrapper div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 49%;
  margin: 30px 0 34px;
  padding: 30px 7%;
  background-image: -o-radial-gradient(#4a5a86, #3a7dba);
  background-image: radial-gradient(#4a5a86, #3a7dba);
  font-family: 'lato', sans-serif;
}

.become h5 {
  margin-bottom: 16px;
  color: #5bb3dd;
  font-size: 17px;
}

.become li {
  margin-left: 12.4%;
  margin-bottom: 7px;
  position: relative;
  color: #c4cee9;
  font-size: 11.6px;
  line-height: 1.4;
}

.become li::before {
  content: '\f111';
  position: absolute;
  top: 6px;
  left: -5.8%;
  font-family: 'fontAwesome';
  font-size: 4px;
}

.become a {
  margin: 4px 0 2px;
  padding: 8px 7.5%;
  background-color: #269fe3;
  color: #dfdfdf;
  font-size: 12px;
}

/* become section end */

/* event section start */

.event h4 {
  color: #4f8cc8;
  font-family: 'dosis',sans-serif;
  font-size: 25px;
}

.event p {
  margin: 11px 0 25px;
  color: #7b7881;
  font-family: 'lato',sans-serif;
  font-size: 11.7px;
  font-weight: 600;
  line-height: 1.4;
}

.event a {
  margin-bottom: 35px;
  padding: 7px 4%;
  background-color: #269fe3;
  color: #c8e4f5;
  font-size: 12px;
}

/* event section end */

/* sign-up section start */

.sign-up { 
  padding: 30px 0 58px;
  background-color: #11579f;
}

.sign-up .wrapper { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sign-up .wrapper > div { width: 49%;}

.sign-up h4 {
  margin-bottom: 7px;
  color: #c8d5e0;
  font-family: 'dosis', sans-serif;
  font-size: 25px;
}

.sign-up .text {
  color: #c3d0e0;
  font-family: 'lato',sans-serif;
  font-size: 10.5px;
}

.sign-up form {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: 'lato',sans-serif;
}

.sign-up input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 0;
  border: 1px solid #269fe3;
  color: #e6e6e6;
  font-size: 11px;
  outline: none;
}

.sign-up .form-group { width: 70%;}
.sign-up .form-group input { padding-left: 5%;}
.sign-up .form-control { width: 30%;}
.sign-up .form-control input { background-color: #269fe3;}

.sign-up form span { 
  display: none;
  position: absolute;
  color: #fc3729;
  font-size: 14px;
  text-transform: capitalize;
}

/* sign-up section end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper { width: 100%;}

footer .links {
  padding: 36px 24% 49px 24.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1259a2;
  font-family: 'lato',sans-serif;
  font-weight: 400;
}

.links > li:first-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 7.8%;
  width: 33%;
}

.links > li:first-child img { width: 85%;}

.links > li:first-child h6 { 
  font-size: 12px;
  color: #c2c2c2;
  padding-top: 8px;
  border-top: 2px solid #8f8f8f;
  margin-top: 10px;
}

.links h6 span {
  color: #ececec;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  text-transform: capitalize;
}

.links > li:nth-child(2) { width: 34%;}

.links h5 {
  color: #c3d4e7;
  font-family: 'dosis',sans-serif;
  font-size: 15px;
}

.links > li:nth-child(2) ul { margin-top: 10px;}
.links > li:nth-child(2) li { display: block;}

.links > li:nth-child(2) a {
  margin-top: 2px;
  display: block;
  color: #c3d4e7;
  font-size: 12px;
  text-transform: capitalize;
}

.links > li:nth-child(3) { width: 30%;}

.links > li:nth-child(3) h6 {
  color: #e6e6e6;
  font-family: 'dosis',sans-serif;
  font-size: 15px;
}

.terms {
  padding: 9px 24% 9px 24.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0c4781;
  color: #cccccc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'lato',sans-serif;
  font-size: 10px;
}

.terms ul { width: 52%;}

.terms li { 
  padding: 0 1% 0 0;
  border-right: 1px solid #c5c5c5;
}

.terms li:last-child { border: 0;}
.terms a { color: #c4c4c4;}
.terms h6 { width: 21%;}
.copyright { text-transform: capitalize;}

.copyright::after {
  content: '\f1f9';
  margin-left: 2px;
  font-family: 'fontAwesome';
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

@media only screen and (min-width: 1024px) {

  header .form-control input:hover { background-color: transparent;}
  nav li:hover { background-color: #2babf5;}
  .welcome a:hover { background-color: #4482c0;}
  .conferences li:hover { box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
  
  .become a:hover, 
  .event a:hover,
  .sign-up .form-control input:hover { background-color: #2d84b6;}

  .links > li:nth-child(2) a:hover { color: #ffffff;}
  .terms a:hover { color: #f8f8f8;}
}  

@media only screen and (max-width: 1280px) {
  .terms h6 { width: 22%;}
}

@media only screen and (max-width: 995px) {
  nav ul { width: 60%;}
  .terms ul { width: 68%;}
  .terms h6 { width: 28%;}
}

@media only screen and (max-width: 720px) {

  nav ul { 
    width: 82%;
    margin: 0 auto;
  }

  .conferences ul { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    text-align: center;
  }

  .conferences li {
    min-width: 70%;
    max-width: 70%;
    margin: 12px auto;
  }

  .conferences li:nth-child(3),
  .conferences li:nth-child(6) { margin-right: auto;}

  .become .wrapper { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
  }

  .become .wrapper div {
    width: 80%;
    margin: 30px auto;
  }

  .event .wrapper { text-align: center;}

  .sign-up .wrapper { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sign-up .wrapper > div { 
    width: 80%;
    margin-bottom: 20px;
  }

  .sign-up form { width: 80%;}

  footer .links {    
    -webkit-box-orient: vertical;    
    -webkit-box-direction: normal;    
        -ms-flex-direction: column;    
            flex-direction: column;
    text-align: center;
  }

  footer .links > li {
    width: 40%;
    margin: 20px auto;
  }

  footer .links > li:first-child {
    width: 40%;
    padding: 0;
    margin: 25spx auto;
  }

  .terms { 
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .terms ul{
    width: 50%;
    margin: 10px auto;
  }

  .terms h6 {
    width: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {

  .logo form { display: none;}
  .hambuger { display: block;}
  nav ul { width: 40%;}
  nav li { display: none;}

  nav form { 
    width: 50%;
    display: flex;
  }

  .show {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    opacity: 2;
  }

  .show .active { background-color: transparent;}

  .show .hambuger::after {
    content: '\f00d';
    margin-right: 5%;
    float: right;
    color: #000000;
  }
  .show li { 
    margin: 10px 0;
    display: block;
  }

  .show a { 
    color: #2786df;
    font-size: 18px;
  }
}

@media only screen and (max-width: 425px) {

  header .welcome { 
    width: 80%;
    text-align: center;
  }

  header .welcome h3 {
    width: 80%;
    margin: 10px auto;
  }

  .conferences .wrapper { text-align: center;}

  .conferences li {
    min-width: 90%;
    max-width: 90%;
  }

  .become .wrapper div { width: 100%;}
  footer .links { padding: 36px 0 49px;}
  .terms ul { width: 80%;}
}