@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 70.6%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { background-image: linear-gradient(to right, #135eaa, #1e3060)}
header .wrapper { width: 100%;}

header .logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70.6%;
  margin: 0 auto;
  padding: 29px 0 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
}

header form { 
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .form-group { width: 79%;}

header .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 7px 5% 6px;
  border: 1px solid #56b8ed;
  color: #9f9a95;
  font-size: 12px;
  outline: none;
}

header .form-control { width: 20%;}

header .go {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 7px 0 6px;
  border: 1px solid #269fe3;
  background-color: #269fe3;
  color: #e6e6e6;
  text-align: center;
  font-size: 12px;
  outline: none;
}

header form span { display: none;}

nav {
  margin: 14px 0;
  background-image: linear-gradient(to right, #269ee2, #1461ad ,#269ee2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'lato',sans-serif;
  font-weight: 200;
}

nav form { display: none;}

nav ul { 
  width: 70.6%;
  margin: 0 auto;
}

nav li {
  margin: 0;
  padding: 4px 1.2% 7px;  
  text-align: center;
  opacity: 0.8;
}

nav .active { background-color: #2babf5;}

nav a {
  
  color: #ffffff;
  font-size: 11.8px;
  text-transform: capitalize;
}

.hambuger {
  display: none;
  text-indent: -9999px;
}

.hambuger::after {
  content: '\f0c9';
  float: left;
  color: #ffffff;
  font-family: 'fontAwesome';
  font-size: 22px;
  text-indent: 0;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main .wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-family: 'lato',sans-serif;
}

.left-side { width: 72%;}

/* banking section start */

.banking {
  border: 2px solid #e6edf4;
  display: flex;
  justify-content: space-between;
}

.banking article { 
  box-sizing: border-box;
  width: 44%;
  padding: 8px 2.3%;
}

.banking article span:first-child {
  color: #61719d;
  font-size: 12px;
  font-weight: 500;
}

.banking h2 {
  margin: 5px 0 0;
  color: #2167d4;
  font-family: 'dosis',sans-serif;
  font-size: 25.5px;
}

.banking .date {
  color: #afaeb6;
  font-size: 12.3px;
}

.banking p {
  margin-top: 2px;
  color: #858e94;
  font-size: 10.2px;
  font-weight: 500;
  line-height: 1.4;
}

/* banking section end */

/* news-lists section start */

.news-lists { 
  padding: 14px 0;
  border-top: 2px solid #d4e0ec;
  border-bottom: 1px solid #d4e0ec;
  margin: 14px 0;
}

.news-lists ul {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.news-lists li {
  box-sizing: border-box;
  max-width: 32.5%;
  min-width: 32.5%;
  padding-right: 2%;
  padding-bottom: 13px;
  border-right: 2px solid #d4e0ec;
  margin-right: 2.2%;
}

.news-lists figure { margin-bottom: 5px;}

.news-lists span {
  color: #61719d;
  font-size: 12px;
  font-weight: 600;
}

.news-lists h2 {
  margin: 6px 0 0;
  color: #5e94ca;
  font-family: 'dosis',sans-serif;
  font-size: 17.1px;
  font-weight: 500;
}

.news-lists .date {
  color: #afaeb6;
  font-size: 12.3px;
  font-weight: 500;
}

.news-lists p {
  margin-top: 2px;
  color: #858e94;
  font-size: 10.2px;
  font-weight: 500;
  line-height: 1.5;
}

/* news-lists section end */

/* must-see section start */

.must-see {
  border-bottom: 1px solid #d4e0ec;
  margin-bottom: 14px;
}

.must-see h2 {
  margin-bottom: 11px;
  color: #4da9e6;
  font-family: 'dosis',sans-serif;
  font-size: 25.5px;
}

.must-see .news-slider {
  display: flex;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.news-slider li {
  min-width: 31.5%;
  max-width: 31.5%;
  margin-right: 2%;
}

.news-slider figure { margin-bottom: 4px;}

.news-slider span {
  padding-left: 3%;
  color: #61719d;
  font-size: 12px;
  font-weight: 500;
}

.news-slider h3 {
  padding-left: 3%;
  margin: 8px 0 14px;
  color: #518ec3;
  font-family: 'dosis',sans-serif;
  font-size: 18.1px;
  font-weight: 500;
  line-height: 1.2;
}

.video-news { position: relative;}

.slider-control li {
  width: 2.3%;
  min-height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #ffffff98;
}

.slider-control li:last-child { right: 0;}

.prev,
.next { text-indent: -9999px;}

.prev::before,
.next::before {  
  margin-top: 90px;
  z-index: 100;
  font-family: 'fontAwesome';
  font-size: 30px;
  text-indent: 0;
}

.prev::before {
  content: '\f104';
  float: left;
}

.next::before {
  content: '\f105';
  float: right;
}

/* must-see section end */

.right-side {
  width: 26.4%;
}



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  